/* 
    Document   : company
    Created on : 1.4.2014, 18:32:12
    Author     : tomp
    Description:
        A stylesheet which can be used for styling 
        the HTML resulting from the transformation.
*/

root { 
    display: block;
}
body, html {
	margin: 0;
	padding: 0;
	color: #000;
	font-family: arial, tahoma, verdana;
	background: #fff;
}
a, a:hover {
	color:#2018FF;
}
h1, h2 {
	font-weight: normal;
	padding: 5px;
	margin: 5px;
}
h3, h4 {
	font-style: italic;
}
.product, .division, .link-list, .box {
    background-color: #dfd; margin: 1em; padding: 0.5em; border: thin dotted;
}
.division-head {
    background-color: #fff; margin: 1em; padding: 0.5em; border: thin solid;
}
.employees {
    margin: 1em; padding: 0.5em;
}